/target/
.DS_Store

#eclipse
/.classpath
/.project
/.settings/

#idea
/.idea

#virtual machine crash logs
hs_err_pid*

/src/test/resources/test-resources/test.properties
/src/test/resources/test-resources/security
